.page-title {
    padding-top: 12px;
}

.navbar-fixed-top {
    height: 52px;
    width: 100%;
    z-index: 10;
    overflow-x: hidden; 
    background-color: #101010;
}

body {
    height: 100%;
    width: 100%;
    padding-left: 0px;
}

body nav {
    float: none;
    position: fixed;
    top: 50px;
    left: 0px;
    bottom: 0px;
    padding-left: 12px;
    overflow-y: auto;
}

#main {
    float: none;
    margin-left: 250px;
    padding-top: 50px;
}

.tt-menu {
    background-color: white;
    z-index: 11;
    overflow-y: auto;
}
